/* my */

h4
{
  font-size: 20px;
  font-weight: bold;
}

h5
{
  font-size: 16px;
}

.WhiteMainDiv{
  background: white;
  border-radius: 160px;
  padding-left: 18%;
  padding-right: 18%; 
}

.WhiteTitle{
    padding-top: 160px;
    padding-bottom: 80px;
}

h3{
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  text-align: center;
  padding: 20px,40px,20px,40px;
  gap: 12px;
}

.WhiteSearch{
  width: 100%;
  height: 64px;
  background-color: #F2F2F2;
  margin-bottom: 24px;
}

.WhiteSearch svg{
  margin-left: 43px;
  margin-top: 23px;
}

.WhiteSearch input{
  font-size: 16px;
  color: black;
  background-color: #F2F2F2;
  width: 80%;
  border: 0;
}

.WhiteFilter{
  margin-bottom: 3%;/*40px*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WhiteFilter .material-icons {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px 40px;
  color: #020202;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  font-weight: bold;
}

.WhiteFilter>ul {
  display: flex;
  gap: 8px;
}

.WhiteFilter>ul>li>a {
  padding: 8px 16px;
  font-weight: bold;
  color: #919191;
  display: block;
  white-space: nowrap;
  text-decoration: none;
}

.WhiteFilter>ul .active,
.WhiteFilter>ul>li>a:hover {
  font-weight: 700;
  background: #f2f2f2;
  color: #020202;
  border-radius: 16px;
}

.NewOldSelect{
  border-radius: 16px;
  padding: 20px 40px 20px 40px;
}

.NewOldSelect option{
  padding: 20px 40px 20px 40px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding-bottom: 162px;
}

.pagination a {
  color: #020202;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
}

.pagination .active,
.pagination a:hover {
  background: #020202;
  color: #fff;
  border-radius: 16px;
}

.pagination .material-icons {
  padding: 12px;
}

.containerSix
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.item{
  border: 1px solid #f2f2f2;
  width: 30%;
  margin: 0 10px 25px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.item_img
{
  width: 100%;  
  margin-bottom: 20px;  
}

.item_img:hover{
  scale: 1.25;
}

.item_title{
  margin: 16px 24px 16px 24px;
}

.item_title p{
  margin: 16px 24px 16px 24px;
/*   height: 48px; */
}

.item_model
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.item_model{
  margin: 10px 10px 10px 24px;
  font-weight: bold;
}

.item_model p{
  margin: 10px 24px 10px 10px;
}

.item_bottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_bottom a{
  text-decoration: none;
  color: #000;
  margin: 10px 10px 10px 24px;
  padding-left: 16px;
}

.item_bottom a:hover
{
  color: blue;
}

.item_bottom a{
  margin: 10px 24px 10px 10px;
}

.num-1{
  order: 1;
}

.num-2{
  order: 2;
}

.num-3{
  order: 3;
}

@media (max-width:992px){

  .BlackDiv{
    padding-left: 18%;
    padding-right: 18%;
  }

  h1{
    font-size: 120px;
  }

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 80px;
  }

  h6{
    font-size: 48px;
  }

  .AIToolMenu{
    display: block;
  }

  .AIMenuIcon{
    display: none;
  }

  .AIToolLogo{
    width: 240px;
    height: 40px;
  }

  .AIService{
    display: flex;
    justify-content: space-between;
  }

  .AIService div p{
    font-size: 48px;
  }

  .AIThreeBox1{
    display: flex;
    justify-content: space-around;
  }

  .AIThreeBox1Li{
    width: 416px;
    height: 366px;
  }

  /* white start */
  .WhiteTitle{
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .WhiteMainDiv{
    border-radius: 160px;
  }

  .item{
    width: 25%;
    /* margin: 0 10px 25px; */
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 162px;
  }

  .AIPriceDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .NewOldSelect{
    border-radius: 16px;
    padding: 20px 40px 20px 40px;
  }
  
  .NewOldSelect option{
    padding: 20px 40px 20px 40px;
  }

  .num-1{
    order: 1;
  }
  
  .num-2{
    order: 2;
  }
  
  .num-3{
    order: 3;
  }

  .WhiteFilter{
    margin-bottom: 3%;/*40px*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width:767px){

  .BlackDiv{
    padding-left: 10%;
    padding-right: 10%;
  }

  h1{
    font-size: 60px;
  }

  h2{
    font-size: 26px;
  }

  h3{
    font-size: 32px;
  }

  h6{
    font-size: 40px;
  }

  .AIToolMenu{
    display: none;
  }
  .AIMenuIcon{
    display: block;
  }

  .AIToolLogo{
    width: 180px;
    height: 30px;
  }

  .AIService{
    display: flex;
    flex-direction: column;
		align-items: center;
  }

  .AIService div p{
    font-size: 32px;
  }

  .AIThreeBox1{
    flex-direction: column;
		align-items: center;
  }

  .AIThreeBox1Li{
    width: 351px;
    height: 286px;
  }

  .WhiteTitle{
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .WhiteMainDiv{
    border-radius: 40px;
  }

  .item{
    width: 45%;
    margin: 0;
  }

  .pagination {
    display: flex;
    justify-content: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .AIPriceDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .NewOldSelect{
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
  }
  
  .NewOldSelect option{
    padding: 0px 20px 10px 20px;
  }

  .num-1{
    order: 1;
  }
  
  .num-2{
    order: 3;
  }
  
  .num-3{
    order: 2;
  }
}

/* 375 */
@media (max-width:482px){

  .BlackDiv{
    padding-left: 0px;
    padding-right: 0px;
  }

  h1{
    font-size: 48px;
  }

  h2{
    font-size: 20px;
  }

  h3{
    font-size: 32px;
  }

  h6{
    font-size: 32px;
  }

  .AIToolMenu{
    display: none;
  }

  .AIMenuIcon{
    display: block;
  }

  .AIToolLogo{
    width: 120px;
    height: 20px;
  }

  .AIService{
    display: flex;
    flex-direction: column;
		align-items: center;
  }

  .AIService div p{
    font-size: 32px;
  }

  .AIThreeBox1{
    flex-direction: column;
		align-items: center;
  }
  
  .AIThreeBox1Li{
    width: 351px;
    height: 286px;
  }

  .WhiteTitle{
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .WhiteMainDiv{
    border-radius: 20px;
  }

  .item{
    width: 80%;
    padding: 5px;
  }

  .pagination {
    display: flex;
    justify-content: column;
    align-items: center;
    padding-bottom: 80px;
  }

  .AIPriceDiv{
    display: flex;
    justify-content: column;
    flex-direction: column-reverse;
  }

  .NewOldSelect{
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
  }
  
  .NewOldSelect option{
    padding: 5px 10px 5px 10px;
  }

  .num-1{
    order: 1;
  }
  
  .num-2{
    order: 3;
  }
  
  .num-3{
    order: 2;
  }
}
