/* my */
.container{
  background: white;
  border-radius: 160px;
  padding-left: 312px;
  padding-right: 312px;
}

.containerSix
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;  
}

.WhiteTitle{
    padding-top: 160px;
    padding-bottom: 80px;
}

h3{
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  text-align: center;
  padding: 20px,40px,20px,40px;
  gap: 12px;
}

.WhiteSearch{
  width: 1298px;
  height: 64px;
  background-color: #F2F2F2;
  margin-bottom: 24px;
}

.WhiteSearch svg{
  margin-left: 43px;
  margin-top: 23px;
}

.WhiteSearch input{
  font-size: 16px;
  color: black;
  background-color: #F2F2F2;
  width: 80%;
  border: 0;
}

.WhiteFilter{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WhiteFilter .material-icons {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px 40px;
  color: #020202;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  font-weight: bold;
}

.WhiteFilter ul {
  display: flex;
  gap: 8px;
}

.WhiteFilter ul a {
  padding: 8px 16px;
  font-weight: bold;
  color: #919191;
  display: block;
  white-space: nowrap;
  text-decoration: none;
}

.WhiteFilter ul .active,
.WhiteFilter ul a:hover {
  font-weight: 700;
  background: #f2f2f2;
  color: #020202;
  border-radius: 16px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding-bottom: 162px;
}

.pagination a {
  color: #020202;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
}

.pagination .active,
.pagination a:hover {
  background: #020202;
  color: #fff;
  border-radius: 16px;
}

.pagination .material-icons {
  padding: 12px;
}

.item
{
  border: 1px solid #f2f2f2;
  width: 30%;
  margin: 0 10px 25px;
}

.item_img
{
  width: 100%;  
  border-radius: 16px 16px 0 0;
  margin-bottom: 20px;
}

h4
{
  font-size: 20px;
}

h5
{
  font-size: 16px;
}

.item_title{
  font-weight: bold;
  margin: 16px 24px 16px 24px;
}

.item_title p{
  margin: 16px 24px 16px 24px;
/*   height: 48px; */
}

.item_model
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_model{
  margin: 10px 10px 10px 24px;
  font-weight: bold;
}

.item_model p{
  margin: 10px 24px 10px 10px;
}

.item_bottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_bottom a{
  text-decoration: none;
  color: #000;
  margin: 10px 10px 10px 24px;
  padding-left: 16px;
}

.item_bottom a:hover
{
  color: blue;
}

.item_bottom a{
  margin: 10px 24px 10px 10px;
}

/* dropdown */ 

.fs-normal {
  font-size: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.mt-8 {
  margin-top: 8px;
}

.filter {
  display: flex;
  justify-content: flex-end;

  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 32px;
  padding-bottom: 20px;
  border-radius: 16px;
}

.dropdown-btn:hover {
  border-color: #000000;
}

.dropdown-menu {
  position: absolute;
  right:0;
  display: none;
  margin-top: 4px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
}

.dropdown-menu a {
  padding: 4px 40px;
}

.dropdown-menu a {
  text-decoration: none;
  display: block;
  color: inherit;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.dropdown-menu.show {
  display: block;
}
